/* MEDIA QUERIES */

/* // Small devices (landscape phones, 400px and up) */
@media (min-width: 400px) {
  .devicons {
    font-size: 3.2rem;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #mainLogo {
    width: 70%;
  }

  .devicons {
    font-size: 3rem;
  }
  .minHeight {
    min-height: 10vh;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #mainLogo {
    width: 60%;
  }
  .minHeight {
    min-height: 25vh;
  }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #mainLogo {
    width: 50%;
  }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  #mainLogo {
    width: 37%;
  }
}
